In [16]:
import pandas as pd
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [17]:
train = pd.read_csv("train2.csv") # loading the train2 dataset from step_2
train.shape # we have 32 columns and 21201 rows

(21201, 32)

In [6]:
train.head(10) # looking at the first 10 rows of the new train dataset

,order_no,user_id,vehicle_type,platform_type,customer_type,placed_day,placed_wkday,placed_time,confirmed_day,confirmed_wkday,...,pickup_lat,pickup_long,delivered_lat,delivered_long,Rider Id,time_pickup_to_arrival,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,1900-01-01 09:35:46,9,5,...,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745,1637,1309,13.8,549
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,1900-01-01 11:16:16,12,5,...,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993,396,339,13.6,69
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,1900-01-01 12:39:25,30,2,...,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455,1023,242,12.5,114
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,1900-01-01 09:25:34,15,5,...,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341,886,283,14.5,113
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,1900-01-01 09:55:18,13,1,...,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214,2311,872,14.1,533
5,Order_No_7408,User_Id_1342,Bike,3,Business,14,5,1900-01-01 15:07:35,14,5,...,-1.302583,36.767081,-1.257309,36.806008,Rider_Id_124,3191,3288,1204,14.2,1056
6,Order_No_22680,User_Id_2803,Bike,3,Business,9,5,1900-01-01 09:33:45,9,5,...,-1.279395,36.825364,-1.276574,36.851365,Rider_Id_114,1380,288,556,13.7,27
7,Order_No_21578,User_Id_1075,Bike,3,Business,11,1,1900-01-01 14:13:01,11,1,...,-1.252796,36.800313,-1.255189,36.782203,Rider_Id_913,646,4036,2119,14.4,700
8,Order_No_5234,User_Id_733,Bike,3,Business,30,2,1900-01-01 11:10:44,30,2,...,-1.255189,36.782203,-1.300255,36.825657,Rider_Id_394,3398,162,237,15.0,14
9,Order_No_1768,User_Id_2112,Bike,3,Business,23,5,1900-01-01 16:48:54,23,5,...,-1.225322,36.808550,-1.215601,36.891686,Rider_Id_660,3439,1062,573,13.2,100

In [32]:
train["arrive_pickup_time"].dtypes,train["delivered_time"].dtypes

(dtype('O'), dtype('O'))

In [10]:
train["arrive_pickup_time"],train["delivered_time"]

(0        1900-01-01 10:04:47
 1        1900-01-01 11:40:22
 2        1900-01-01 12:49:34
 3        1900-01-01 09:37:56
 4        1900-01-01 10:03:53
                 ...
 21196    1900-01-01 15:58:49
 21197    1900-01-01 10:20:04
 21198    1900-01-01 17:30:17
 21199    1900-01-01 09:38:59
 21200    1900-01-01 14:24:29
 Name: arrive_pickup_time, Length: 21201, dtype: object,
 0        1900-01-01 10:39:55
 1        1900-01-01 12:17:22
 2        1900-01-01 13:00:38
 3        1900-01-01 10:05:27
 4        1900-01-01 10:25:37
                 ...
 21196    1900-01-01 16:20:17
 21197    1900-01-01 10:46:17
 21198    1900-01-01 18:40:05
 21199    1900-01-01 10:08:15
 21200    1900-01-01 15:17:23
 Name: delivered_time, Length: 21201, dtype: object)

In [46]:
import pandas

df = pandas.DataFrame(columns=['delivered', 'pickup', 'total_time'])
df.delivered = train.delivered_time

df.pickup = train.arrive_pickup_time
df.head(10)

df.total_time = df.delivered - df.pickup

TypeError: unsupported operand type(s) for -: 'str' and 'str'

0    58.0
1     3.0
2     8.0
dtype: float64

Empty DataFrame
Columns: [(1900-01-01 10:39:55, 1900-01-01 10:04:47), (1900-01-01 12:17:22, 1900-01-01 11:40:22), (1900-01-01 13:00:38, 1900-01-01 12:49:34), (1900-01-01 10:05:27, 1900-01-01 09:37:56), (1900-01-01 10:25:37, 1900-01-01 10:03:53), (1900-01-01 16:23:41, 1900-01-01 15:21:36), (1900-01-01 10:19:45, 1900-01-01 09:53:12), (1900-01-01 14:33:26, 1900-01-01 14:21:33), (1900-01-01 13:19:35, 1900-01-01 12:13:18), (1900-01-01 18:31:57, 1900-01-01 17:32:41), (1900-01-01 10:32:29, 1900-01-01 10:10:28), (1900-01-01 17:22:25, 1900-01-01 15:59:18), (1900-01-01 15:45:59, 1900-01-01 14:49:27), (1900-01-01 10:15:58, 1900-01-01 09:14:53), (1900-01-01 10:33:52, 1900-01-01 10:17:51), (1900-01-01 14:10:11, 1900-01-01 13:17:57), (1900-01-01 12:54:00, 1900-01-01 12:07:53), (1900-01-01 13:09:07, 1900-01-01 12:19:58), (1900-01-01 11:59:41, 1900-01-01 11:31:02), (1900-01-01 16:00:27, 1900-01-01 14:42:22), (1900-01-01 11:03:24, 1900-01-01 10:41:32), (1900-01-01 11:51:02, 1900-01-01 11:14:29), (1900-01-01 20:13:57, 1900-01-01 19:46:17), (1900-01-01 10:58:49, 1900-01-01 10:26:21), (1900-01-01 16:53:34, 1900-01-01 15:50:17), (1900-01-01 13:36:14, 1900-01-01 12:47:40), (1900-01-01 15:21:05, 1900-01-01 14:59:57), (1900-01-01 13:10:58, 1900-01-01 12:30:55), (1900-01-01 15:22:11, 1900-01-01 14:25:54), (1900-01-01 08:57:03, 1900-01-01 08:37:38), (1900-01-01 16:29:12, 1900-01-01 15:47:49), (1900-01-01 10:39:22, 1900-01-01 09:42:51), (1900-01-01 17:06:41, 1900-01-01 16:26:43), (1900-01-01 17:12:40, 1900-01-01 16:27:17), (1900-01-01 15:11:53, 1900-01-01 14:53:49), (1900-01-01 17:39:06, 1900-01-01 17:07:13), (1900-01-01 13:35:50, 1900-01-01 13:02:08), (1900-01-01 13:57:14, 1900-01-01 13:28:47), (1900-01-01 17:38:09, 1900-01-01 16:41:46), (1900-01-01 09:27:37, 1900-01-01 08:42:35), (1900-01-01 12:17:07, 1900-01-01 11:29:13), (1900-01-01 15:42:29, 1900-01-01 14:23:42), (1900-01-01 18:26:37, 1900-01-01 17:16:11), (1900-01-01 13:52:35, 1900-01-01 13:21:22), (1900-01-01 15:17:46, 1900-01-01 14:37:07), (1900-01-01 11:45:03, 1900-01-01 11:33:06), (1900-01-01 15:18:05, 1900-01-01 14:49:55), (1900-01-01 16:31:39, 1900-01-01 15:53:55), (1900-01-01 13:11:25, 1900-01-01 12:38:13), (1900-01-01 11:42:51, 1900-01-01 11:11:54), (1900-01-01 11:39:57, 1900-01-01 11:10:49), (1900-01-01 10:51:09, 1900-01-01 10:11:32), (1900-01-01 17:14:45, 1900-01-01 17:10:03), (1900-01-01 10:13:32, 1900-01-01 09:50:40), (1900-01-01 13:56:24, 1900-01-01 13:24:42), (1900-01-01 15:47:48, 1900-01-01 15:10:48), (1900-01-01 13:55:30, 1900-01-01 13:12:13), (1900-01-01 13:16:54, 1900-01-01 12:49:50), (1900-01-01 11:30:13, 1900-01-01 10:25:16), (1900-01-01 11:23:32, 1900-01-01 11:00:25), (1900-01-01 11:45:43, 1900-01-01 10:38:29), (1900-01-01 11:28:14, 1900-01-01 11:05:37), (1900-01-01 11:48:43, 1900-01-01 11:26:44), (1900-01-01 10:23:28, 1900-01-01 09:55:41), (1900-01-01 10:39:30, 1900-01-01 10:11:56), (1900-01-01 19:03:46, 1900-01-01 17:42:48), (1900-01-01 13:20:13, 1900-01-01 12:52:47), (1900-01-01 10:58:47, 1900-01-01 10:42:53), (1900-01-01 15:09:49, 1900-01-01 14:46:02), (1900-01-01 10:47:46, 1900-01-01 10:25:13), (1900-01-01 18:41:54, 1900-01-01 17:51:53), (1900-01-01 12:12:29, 1900-01-01 11:49:13), (1900-01-01 13:59:29, 1900-01-01 13:20:58), (1900-01-01 11:51:25, 1900-01-01 11:38:00), (1900-01-01 11:11:38, 1900-01-01 10:23:45), (1900-01-01 14:38:59, 1900-01-01 13:44:02), (1900-01-01 16:38:46, 1900-01-01 16:03:04), (1900-01-01 10:51:58, 1900-01-01 10:13:00), (1900-01-01 16:33:10, 1900-01-01 15:41:51), (1900-01-01 12:40:05, 1900-01-01 11:25:50), (1900-01-01 12:11:30, 1900-01-01 10:58:48), (1900-01-01 13:51:20, 1900-01-01 13:32:02), (1900-01-01 14:21:14, 1900-01-01 14:06:44), (1900-01-01 12:39:29, 1900-01-01 12:24:00), (1900-01-01 10:40:01, 1900-01-01 10:04:47), (1900-01-01 11:57:02, 1900-01-01 11:31:13), (1900-01-01 13:47:27, 1900-01-01 13:18:47), (1900-01-01 13:45:16, 1900-01-01 12:51:18), (1900-01-01 13:07:46, 1900-01-01 12:36:47), (1900-01-01 13:01:41, 1900-01-01 12:41:14), (1900-01-01 11:53:49, 1900-01-01 10:54:59), (1900-01-01 15:37:35, 1900-01-01 15:20:47), (1900-01-01 12:20:53, 1900-01-01 11:04:30), (1900-01-01 14:44:52, 1900-01-01 13:56:25), (1900-01-01 16:42:48, 1900-01-01 15:12:59), (1900-01-01 16:13:36, 1900-01-01 15:43:03), (1900-01-01 11:48:04, 1900-01-01 11:11:00), (1900-01-01 15:59:04, 1900-01-01 15:33:57), (1900-01-01 10:03:34, 1900-01-01 09:18:28), (1900-01-01 20:21:28, 1900-01-01 19:42:19), ...]
Index: []

[0 rows x 21201 columns]

AttributeError: 'DataFrame' object has no attribute 'arrive_pickup_time'