### Exploratory Data Analysis 
##### 1. Loading & Data Processing

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv') # loading the train dataset

In [3]:
train.head() # looking at the first 5 rows of the dataset

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [4]:
train.shape # rows and cols num
# we have 29 columns and 21201 rows

(21201, 29)

In [5]:
train.columns # the names of columns in the train dataset. we will rename this to make it easier for us later.

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Arrival at Destination - Day of Month',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Arrival at Destination - Time', 'Distance (KM)', 'Temperature',
       'Precipitation in millimeters', 'Pickup Lat', 'Pickup Long',
       'Destination Lat', 'Destination Long', 'Rider Id',
       'Time from Pickup to Arrival'],
      dtype='object')

In [6]:
test = pd.read_csv('test.csv') # loading the test dataset

In [7]:
test.head() # looking at the first 5 rows of the test dataset

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup - Weekday (Mo = 1),Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id
0,Order_No_19248,User_Id_3355,Bike,3,Business,27,3,4:44:10 PM,27,3,...,3,5:06:47 PM,8,NaN,NaN,-1.333275,36.870815,-1.305249,36.822390,Rider_Id_192
1,Order_No_12736,User_Id_3647,Bike,3,Business,17,5,12:57:35 PM,17,5,...,5,1:25:37 PM,5,NaN,NaN,-1.272639,36.794723,-1.277007,36.823907,Rider_Id_868
2,Order_No_768,User_Id_2154,Bike,3,Business,27,4,11:08:14 AM,27,4,...,4,11:57:54 AM,5,22.8,NaN,-1.290894,36.822971,-1.276574,36.851365,Rider_Id_26
3,Order_No_15332,User_Id_2910,Bike,3,Business,17,1,1:51:35 PM,17,1,...,1,2:16:52 PM,5,24.5,NaN,-1.290503,36.809646,-1.303382,36.790658,Rider_Id_685
4,Order_No_21373,User_Id_1205,Bike,3,Business,11,2,11:30:28 AM,11,2,...,2,11:56:04 AM,6,24.4,NaN,-1.281081,36.814423,-1.266467,36.792161,Rider_Id_858

In [8]:
test.shape # we have 25 columns and 7068 rows

(7068, 25)

In [9]:
test.columns # the names of columns in the test dataset

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Distance (KM)', 'Temperature', 'Precipitation in millimeters',
       'Pickup Lat', 'Pickup Long', 'Destination Lat', 'Destination Long',
       'Rider Id'],
      dtype='object')

In [10]:
riders = pd.read_csv('Riders.csv') # loading the riders dataset

In [11]:
riders.head() # looking at the first 5 rows of the riders dataset

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [12]:
riders.shape # we have 5 columns and 960 rows

(960, 5)

In [13]:
riders.columns # names of the columns in the riders dataset

Index(['Rider Id', 'No_Of_Orders', 'Age', 'Average_Rating', 'No_of_Ratings'], dtype='object')

In [14]:
vd = pd.read_csv('VariableDefinitions.csv') # loading the variable definitions dataset

In [15]:
vd.head() # looking at the first 5 rows of the dataset

                   Order No                Unique number identifying the order
0                   User Id  Unique number identifying the customer on a pl...
1              Vehicle Type  For this competition limited to bikes, however...
2             Platform Type  Platform used to place the order, there are 4 ...
3      Personal or Business                                      Customer type
4  Placement - Day of Month                  Placement - Day of Month i.e 1-31

In [17]:
vd.shape # we have 2 columns and 35 rows

(35, 2)

In [18]:
vd # viewing all the variable definitions

,Order No,Unique number identifying the order
0,User Id,Unique number identifying the customer on a pl...
1,Vehicle Type,"For this competition limited to bikes, however..."
2,Platform Type,"Platform used to place the order, there are 4 ..."
3,Personal or Business,Customer type
4,Placement - Day of Month,Placement - Day of Month i.e 1-31
5,Placement - Weekday (Mo = 1),Placement - Weekday (Monday = 1)
6,Placement - Time,Placement - Time - Time of day the order was p...
7,Confirmation - Day of Month,Confirmation - Day of Month i.e 1-31
8,Confirmation - Weekday (Mo = 1),Confirmation - Weekday (Monday = 1)
9,Confirmation - Time,Confirmation - Time - Time of day the order wa...
10,Arrival at Pickup - Day of Month,Arrival at Pickup - Day of Month i.e 1-31
11,Arrival at Pickup - Weekday (Mo = 1),Arrival at Pickup - Weekday (Monday = 1)
12,Arrival at Pickup - Time,Time of day the the rider arrived at the locat...
13,Pickup - Day of Month,Pickup - Day of Month i.e 1-31
14,Pickup - Weekday (Mo = 1),Pickup - Weekday (Monday = 1)
15,Pickup - Time,Pickup - Time - Time of day the the rider pick...
16,Arrival at Destination - Day of Month,Arrival at Delivery - Day of Month i.e 1-31
17,Arrival at Destination - Weekday (Mo = 1),Arrival at Delivery - Weekday (Monday = 1)
18,Arrival at Destination - Time,Arrival at Delivery Time - Time of day the rid...
19,Distance (KM),The distance from Pickup to Destination
20,Temperature,Temperature at the time of order placement in ...
21,Precipitation in millimeters,Precipitation at the time of order placement ...
22,Pickup Lat,Latitude of pick up location
23,Pickup Long,Longitude of pick up location
24,Destination Lat,Latitude of delivery location
25,Destination Long,Longitude of delivery location
26,Rider Id,ID of the Rider who accepted the order
27,Time from Pickup to Arrival,Time in seconds between 'Pickup' and 'Arrival ...
28,NaN,NaN
29,Rider Metrics,NaN
30,Rider Id,Unique number identifying the rider (same as i...
31,No_Of_Orders,Number of Orders the rider has delivered
32,Age,Number of days since the rider delivered the f...
33,Average_Rating,Average rating of the rider
34,No_of_Ratings,Number of ratings the rider has received. Rat...

In [19]:
## renaming some of the columns since most of them have spaces in them
train = train.rename(columns={
    "Order No" : "order_no",
    "User Id" : "user_id",
    "Vehicle Type" : "vehicle_type",
    "Personal or Business": "customer_type",
    "Placement - Day of Month" :  "placed_day",
    "Placement - Weekday (Mo = 1)": "placed_wkday",
    "Placement - Time": "placed_time",
    "Confirmation - Day of Month": "confirmed_day",
    "Confirmation - Weekday (Mo = 1)": "confirmed_wkday",
    "Confirmation - Time" : "confirmed_time",
    "Arrival at Pickup - Day of Month" : "arrive_pickup_day",
    "Arrival at Pickup - Time": "arrive_pickup_time",
    "Arrival at Pickup - Weekday (Mo = 1)": "arrive_pickup_wkday",
    "Pickup - Day of Month": "pickup_day",
    "Pickup - Weekday (Mo = 1)": "pickup_wkday",
    "Pickup - Time": "pickup_time",
    "Arrival at Destination - Day of Month": "delivered_day",
    "Arrival at Destination - Weekday (Mo = 1)": "delivered_wkday",
    "Arrival at Destination - Time": "delivered_time",
    "Distance (KM)": "distance_km",
    "Temperature": "temp",
    "Precipitation in millimeters": "precipitation_ml",
    "Pickup Lat": "pickup_lat",
    "Pickup Long": "pickup_long",
    "Destination Lat": "delivered_lat",
    "Destination Long": "delivered_long",
    "Time from Pickup to Arrival": "time_pickup_to_arrival",
    "Platform Type": "platform_type"
})

In [20]:
train.to_csv("train1.csv", index=False)

## The Goal
- To predict the estimated time of delivery of orders, from the point of driver pickup to the point of arrival at final destination.

## The Data Dictionary
- order_no (object) : Unique number identifying the order
- user_id (object) : Unique number identifying the customer on a platform
- vehicle_type (object) : For this competition limited to bikes, however in practice Sendy service extends to trucks and vans
- platform_type (int64) : Platform used to place the order, there are 4 types
- customer_type (object) : Customer type
- plac_day_of_month (int64) : Placement - Day of Month i.e 1-31
- plac_weekday (int64) : Placement - Weekday (Monday = 1)
- plac_time (object) : Placement - Time - Time of day the order was placed
- conf_day_of_month (int64) : Confirmation - Day of Month i.e 1-31
- conf_weekday (int64) : Confirmation - Weekday (Monday = 1)
- conf_time (object) : Confirmation - Time - Time of day the order was confirmed by a rider
- arrival_pickup_day_of_month (int64) : Arrival at Pickup - Day of Month i.e 1-31
- arrival_pickup_weekday (int64) : Arrival at Pickup - Weekday (Monday = 1)
- arrival_pickup_time (object) : Time of day the the rider arrived at the location to pick up the order - as marked by the rider through the Sendy application
- pickup_day_of_month (int64) : Pickup - Day of Month i.e 1-31
- pickup_weekday (int64) : Pickup - Weekday (Monday = 1)
- pickup_time (object) : Pickup - Time - Time of day the the rider picked up the order - as marked by the rider through the Sendy application
- arrival_des_day_of_month (int64): Arrival at Delivery - Day of Month i.e 1-31
- arrival_des_weekday (int64) : Arrival at Delivery - Weekday (Monday = 1)
- arrival_des_time (object) : Arrival at Delivery Time - Time of day the rider arrived at the destination to deliver the order - as marked by the rider through the Sendy application
- distance_km (int64) : The distance from Pickup to Destination
- Temperature (float64) : Temperature at the time of order placement in Degrees Celsius (measured every three hours)
- precipitation (float64) : Precipitation at the time of order placement (measured every three hours)
- pickup_lat (float64) : Latitude of pick up location
- pickup_long (float64) : Longitude of pick up location
- destination_lat (float64) : Latitude of delivery location
- destination_long (float64) : Longitude of delivery location
- rider_id (object) : ID of the Rider who accepted the order
- time_from_pickup_to_arrival (int64) : Time in seconds between 'Pickup' and 'Arrival at Destination' - calculated from the columns for the purpose of facilitating the task